h1 {
    color: green;
}

.container {
    padding-left: 10%;
    padding-right: 10%
}

.menu {
    list-style-type: none;
    padding-left: 0;
    background: coral;
}

.menu li {
    display: inline-block;
    margin: 10px
}

.menu li:after {
    content: "\00a0";
}
.nl:before {
    content: " \2713"
}
div.nl {
	margin-left: 2%

	
}

input.editableItems {
    width: 85%
}

button.btnPendingSaveGreen {
    color: green
}

button.btnPendingSaveYellow {
    color: darkorange
}

span {
    float: none;
    clear: both;
}
div.inputWrapper {
	display: inline;
    width: 80%;
	float: right
}
