html, body {
    height: 100%;
}

h1 {
    color: chocolate;
    text-align: center
}

.container {
    padding-left: 10%;
    padding-right: 10%
}

.menu {
    list-style-type: none;
    padding-left: 0;
    background: coral;
}

.menu li {
    display: inline-block;
    margin: 10px
}

.menu li:after {
    content: "\00a0";
}
.rowTitle:before {
    content: "\2713"
}
.rowTitle:after {
    content: ":"
}
div.nl {
    border-bottom: 1px solid saddlebrown;
    background-color: lightgoldenrodyellow;
    word-wrap: break-word;
    overflow: hidden
}

div.rowTitle {
    display: inline;
    width: 20%
}
div.inputWrapper {
	display: inline;
    width: 80%;
	float: right
}

div.displayInCell {
    font-size: smaller
}

input.editableItems {
    width: 85%
}

button.btnPendingSaveGreen {
    color: green
}

button.btnPendingSaveYellow {
    color: darkorange
}

span {
    float: none;
    clear: both;
}
p.caption{
    font-weight: bolder;
    font-style: italic
}
a{
    color: #795548
}
fieldset{
    display: inline-block
}
input[type=radio] + label{
    display: block;
    padding-left: 10px
}
input[type=checkbox] + label {
    display: block
}
