/* We’ll also tweak the styles of the form fields so that the mobile browser does not zoom in on them on focus. We just need them to have a minimum font size of 16px to prevent the zoom. */
select.form-control, textarea.form-control, input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
/* radio buttons start */
.text-on-panel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}
.panel {
 /* for text on panel */
  margin-top: 27px !important;
}
.panel-body {
  padding-top: 30px !important;
}
.panel-body, h4 {
  line-height: 1.3 !important 
}
.radio-group {
  width: 250px !important;
  margin-left: unset !important;
}
/* login form */
@media all and (min-width: 480px) {
  .Login, .SignUp {
      padding: 60px 0;
 }
  .Login form, .SignUp form {
      margin: 0 auto;
      max-width: 320px;
 }
}
.alert {
 /* max-width: 320px;
  */
  margin: 15px auto;
}
/* sign up form */
@media all and (min-width: 480px) {
  .Signup {
      padding: 60px 0;
 }
  .Signup form {
      margin: 0 auto;
      max-width: 320px;
 }
}
.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
/* grid */
/* div.col-xs-7, div.col-xs-1{
  border-right:1px solid black;
}
div.row{
  border-bottom: 1px solid black;
}
*/
.table {
  display:table;
  border-collapse: collapse;
  padding-left:0px;
  padding-right:0px;
}
.row {
  display:table-row;
}

.row.head {
  background-color: #b2ebf2;
}
.cell {
  display:table-cell;
  border: 1px solid #337ab7;
  float:none !important;
 /* border: 1px solid red;
  border-radius: 5px;
  */
  white-space: pre-wrap;
 /* CSS3 */
  white-space: -moz-pre-wrap;
 /* Firefox */
  white-space: -pre-wrap;
 /* Opera <7 */
  white-space: -o-pre-wrap;
 /* Opera 7 */
  word-wrap: break-word;
 /* IE */
}
.cell, .col-xs-8 {
  max-width: 200px;
}

/* menu */
.navbar-right {
  margin-right: 0px !important;
}

a.pull-right {
  margin-bottom: 10px;
}

.table a {
  color: black !important;
}

/* border radius main table */
/* .table .row:last-child .cell:first-child {
  border-bottom-left-radius: 10px;
}

.table .row:last-child .cell:last-child {
  border-bottom-right-radius: 10px;
} */

.centered-text  {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.col-xs-1.icon {
  max-width: 10px;
}


/* flex */

.clearafter:after {
  content: '';
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

 .cont {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.r {
  display: flex;
  /* padding: 5px 15px; */
}

.r.head {
  background-color: #03A9F4;
  color: #fff;
  border-top: 1px solid black;
}

.r:not(.head) {
  border-top: 1px solid black;
  word-break: break-word;
}

.r:not(.head):nth-child(2n + 1) {
  background-color: rgba(3, 169, 244, 0.05);
}

.r:last-of-type {
  border-bottom: 1px solid black;
}

.c {
  display: inline-flex;
  flex: 2;
  padding: 3px 6px;
}

.c:first-of-type {
  max-width: 10%;
}

.c:nth-child(2) {
  max-width: 15%;
}

.c:not(:last-of-type) {
  border-right: 1px solid black;
}

.c.items {
  flex: 10;
}

.c.icon {
  flex: 1;
  text-align: center;
  justify-content: center;
  max-width: 50px;
}

.container-fluid {
  padding-bottom: 15px;
}