extends ../common/layout
block main-content
	h1 List of guminserts index
	p #{title}
		each collection, index in collections
			div.nl
				a(href="/collection/"+ index)= (collection.make + '[' + collection.margins + ']')
				span : 
				div.inputWrapper
					//-input.editableItems(type="text", value=collection.items)
					div.displayInCell #{collection.items}
