doctype
html
    head
        title Hello
        link(href="/css/style.css" rel="stylesheet")
    body
        .container
            ul.menu
                li
                    a(href="/") Home
                li
                    a(href="/about") About

            block main-content
